<section class="px-20 pb-6">
  <h3 class="text-3xl font-bold dark:text-white mb-4">Usuarios</h3>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    <app-card-button [title]="'Clientes'" [description]="'Listado de todos los cliente'" [ruta]="'/usuarios'" />
    <!-- <app-card-button [title]="'Crear Cliente'" [description]="'Crear un cliente nuevo'" [ruta]="'/crear-cliente'"/> -->
    <app-card-button [title]="'Empleados'" [description]="'Listado de todos los empleados'" [ruta]="'/empleados'" />
    <app-card-button [title]="'Crear Empleado'" [description]="'Crear un empleado'" [ruta]="'/crear-empleado'" />
    <app-card-button [title]="'Admins'" [description]="'Listado de todos los admins'" [ruta]="'/admins'" />
    <app-card-button [title]="'Crear Admin'" [description]="'Crear un admin'" [ruta]="'/create-admin'" />
  </div>
  <h3 class="text-3xl font-bold dark:text-white mb-4 mt-4">Servicios</h3>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    <app-card-button [title]="'Servicios'" [description]="'Listado de los servicio del negocio'"
      [ruta]="'/servicios'" />
    <app-card-button [title]="'Crear Servicio'" [description]="'Crear un nuevo servicio'" [ruta]="'/crear-servicio'" />
  </div>
  <h3 class="text-3xl font-bold dark:text-white mb-4 mt-4">Canchas</h3>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    <app-card-button [title]="'Canchas'" [description]="'Listado de las canchas'"
      [ruta]="'/canchas'" />
    <app-card-button [title]="'Crear Cancha'" [description]="'Crear una nueva cancha'" [ruta]="'/crear-cancha'" />
  </div>
  <h3 class="text-3xl font-bold dark:text-white mb-4 mt-4">Reportes</h3>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    <app-card-button [title]="'Reportes Varios'" [description]="'Reportes de ventas, empleados, negocios, etc.'" [ruta]="'/reportes'"/>
    <app-card-button [title]="'Graficas'" [description]="'Graficas de ventas, empleados, negocios, etc.'" />
  </div>
  <h3 class="text-3xl font-bold dark:text-white mb-4 mt-4">Configuracion</h3>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    <app-card-button [title]="'Roles'" [description]="'Roles de usuario'" [ruta]="'/roles'" />
    <app-card-button [title]="'Crear Rol'" [description]="'Roles de usuario'" [ruta]="'/crear-rol'" />
    <app-card-button [title]="'Mi Negocio'" [description]="'Configuracion del negocio'" [ruta]="'/negocio'" />
  </div>
</section>
