<section class="px-20">
  <h3 class="text-3xl font-bold dark:text-white">Mi Negocio</h3>
  <div class="w-full mt-4 pb-6">
    <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6 mt-2">
      <div class="relative z-0 w-full mb-4 group">
        <h5 class="text-xl font-bold dark:text-white mb-4">Información del Negocio</h5>
        <div class="relative z-0 w-full mb-4 group">
          <label for="nombre_negocio"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre</label>
          <input type="text" id="nombre_negocio" required [(ngModel)]="negocioData.nombre"
            (ngModelChange)="onNombreChange($event)"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        </div>
        <div class="relative z-0 w-full mb-4 group">
          <label for="porcentaje_anticipo" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Porcentaje de Anticipo </label>
          <input type="number" id="porcentaje_anticipo" required [(ngModel)]="negocioData.porcentaje_anticipo"
            (ngModelChange)="onPorcentajeAnticipoChange($event)"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        </div>
        <div class="relative z-0 w-full mb-4 group">
          <label for="direccion" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Dirección</label>
          <input type="text" id="direccion" required [(ngModel)]="negocioData.direccion"
            (ngModelChange)="onDireccionChange($event)"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        </div>
        <div class="relative z-0 w-full mb-4 group">
          <label class="inline-flex items-center mb-5 cursor-pointer">
            <input type="checkbox" value="" class="sr-only peer" [checked]="negocioData.asignacion_manual"
              (change)="onAsignacionManualChange()">
            <div
              class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:w-5 after:h-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600">
            </div>
            <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Asignación Manual</span>
          </label>
        </div>
        <h5 class="text-xl font-bold dark:text-white mb-4">Logo del Negocio</h5>
        <div class="relative z-0 w-full mb-2 group flex justify-center items-center">
          <img [src]="imageSrc" class="h-auto max-w-full max-h-[10rem]" alt="image description">
        </div>
        <div class="relative z-0 w-full mb-2 group">
          <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="file_input">Subir
            Archivo</label>
          <input required
            class="block w-full mb-5 text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
            id="file_input" type="file" (change)="onFileSelected($event)">
          <p class="mt-1 text-sm text-gray-500 dark:text-gray-300" id="file_input_help">SVG, PNG, JPG o GIF</p>
        </div>
      </div>
      <div class="relative z-0 w-full mb-4 group">
        <h5 class="text-xl font-bold dark:text-white mb-4">Configuración del Horario</h5>
        <app-schedule-conf [data]="negocioData.horarios"  (dataChange)="onDataChange($event)"></app-schedule-conf>
      </div>
    </div>
    <button type="submit"
      class=" mb-4 text-white  focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full  px-5 py-2.5 text-center  dark:focus:ring-blue-800"
      [ngClass]="{
        'cursor-not-allowed': !activeButtonSave ,
        'hover:bg-blue-800': activeButtonSave ,
        'dark:hover:bg-blue-700': activeButtonSave,
        'bg-blue-700': activeButtonSave,
        'bg-blue-400': !activeButtonSave,
        'dark:bg-blue-600': activeButtonSave,
        'dark:bg-blue-500': !activeButtonSave
      }" [disabled]="!activeButtonSave"
      (click)="actualizarNegocio()">
      Actualizar Negocio
    </button>
  </div>
</section>
