<section class="px-20 pb-6">
  <h4 class="text-2xl font-bold dark:text-white">Horario del Negocio</h4>
  <app-schedule-conf [data]="horariosNegocio" [isShowData]="true"></app-schedule-conf>
  <h4 class="text-2xl font-bold dark:text-white mt-4">Datos de la Cancha</h4>
  <div class="w-full mt-4">
    <div class="grid lg:grid-cols-4 lg:gap-6 md:grid-cols-3 md:gap-6 sm:grid-cols-1">
      <div class="relative z-0 w-full mb-5 group">
        <label for="base-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Codigo</label>
        <input type="text" id="base-input" readonly [(ngModel)]="cancha.id"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
      </div>
      <div class="relative z-0 w-full mb-5 group">
        <label for="base-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Costo</label>
        <input type="number" id="base-input" [(ngModel)]="cancha.costoHora" (ngModelChange)="onCostoHoraChange($event)"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
      </div>
    </div>
    <div class="grid lg:grid-cols-2 lg:gap-6 md:grid-cols-2 md:gap-6 sm:grid-cols-1">
      <div class="relative z-0 w-full mb-2 group">
        <label for="detalle_cancha" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Detalles de la
          Cancha</label>
        <textarea id="detalle_cancha" rows="4" [(ngModel)]="cancha.descripcion"
          (ngModelChange)="onDetallesChange($event)"
          class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Detalles sobre la cancha..."></textarea>
      </div>
    </div>
    <h4 class="text-2xl font-bold dark:text-white">Horarios</h4>
    <app-schedule-conf [data]="cancha.horarios" (dataChange)="onDataChange($event)"></app-schedule-conf>
    <button type="submit"
      class=" mt-4 text-white  focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full  px-5 py-2.5 text-center  dark:focus:ring-blue-800"
      [ngClass]="{
        'cursor-not-allowed': !activeButtonSave ,
        'hover:bg-blue-800': activeButtonSave ,
        'dark:hover:bg-blue-700': activeButtonSave,
        'bg-blue-700': activeButtonSave,
        'bg-blue-400': !activeButtonSave,
        'dark:bg-blue-600': activeButtonSave,
        'dark:bg-blue-500': !activeButtonSave
      }" [disabled]="!activeButtonSave" (click)="actualizarCancha()">
      Actualizar Cancha
    </button>
  </div>
</section>
