<div class="px-20">
  <h4 class="text-2xl font-bold dark:text-white mb-4">Graficos</h4>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 gap-4">

    <div>
      <h5 class="text-xl font-bold dark:text-white mb-2">Grafico 1</h5>
      <div class="bg-white p-4 rounded shadow">
        <canvas id="chart" class="responsive-chart"></canvas>
      </div>
    </div>

    <div>
      <h5 class="text-xl font-bold dark:text-white mb-2">Grafico 2</h5>
      <div class="bg-white p-4 rounded shadow">
        <canvas id="chart2" class="responsive-chart"></canvas>
      </div>
    </div>

    <div>
      <h5 class="text-xl font-bold dark:text-white mb-2">Grafico 3</h5>
      <div class="bg-white p-4 rounded shadow">
        <canvas id="chart3" class="responsive-chart"></canvas>
      </div>
    </div>

    <div>
      <h5 class="text-xl font-bold dark:text-white mb-2">Grafico 4</h5>
      <div class="bg-white p-4 rounded shadow">
        <canvas id="chart4" class="responsive-chart"></canvas>
      </div>
    </div>

  </div>
</div>
