<h3 class="text-3xl font-bold dark:text-white">Crear Servicio</h3>
<form class="w-full mt-4 pb-6">
  <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6 mt-2">
    <div class="relative z-0 w-full mb-4 group">
      <h5 class="text-xl font-bold dark:text-white mb-4">Imagen del Servicio</h5>
      <div class="relative z-0 w-full mb-2 group flex justify-center items-center">
        <img [src]="imageSrc" class="h-auto max-w-full max-h-[13.5rem]" alt="image description">
      </div>
      <div class="relative z-0 w-full mb-2 group">
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="file_input">Upload file</label>
        <input required
          class="block w-full mb-5 text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
          id="file_input" type="file" (change)="onFileSelected($event)">
        <p class="mt-1 text-sm text-gray-500 dark:text-gray-300" id="file_input_help">SVG, PNG, JPG or GIF</p>
      </div>
      <button type="submit"
        class="mt-4 mb-4 text-white  focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full  px-5 py-2.5 text-center  dark:focus:ring-blue-800"
        [ngClass]="{
          'cursor-not-allowed': !activeButtonSave ,
          'hover:bg-blue-800': activeButtonSave ,
          'dark:hover:bg-blue-700': activeButtonSave,
          'bg-blue-700': activeButtonSave,
          'bg-blue-400': !activeButtonSave,
          'dark:bg-blue-600': activeButtonSave,
          'dark:bg-blue-500': !activeButtonSave
          }" [disabled]="!activeButtonSave">
        Crear Servicio
      </button>
    </div>
    <div class="relative z-0 w-full mb-5 group">
      <h5 class="text-xl font-bold dark:text-white mb-4">Información del Servicio</h5>
      <div class="relative z-0 w-full mb-4 group">
        <label for="nombre_negocio" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre</label>
        <input type="text" id="nombre_negocio" required
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
      </div>
      <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 gap-2 mb-2">
        <div class="relative z-0 w-full mb-2 group">
          <label for="admin_nombres" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Costo</label>
          <input type="text" id="admin_nombres" required
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        </div>
        <div class="relative z-0 w-full mb-2 group">
          <label for="admin_apellidos" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Duracion
            (hrs)</label>
          <input type="number" min="0.25" step="0.1" id="admin_apellidos" required
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        </div>
      </div>
      <div class="relative z-0 w-full mb-3 group">
        <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tipo
          Empleado</label>
        <select id="countries"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          <option selected>Seleccionar</option>
          <option value="US">Tipo 1</option>
          <option value="CA">Tipo 2</option>
          <option value="FR">Tipo 3</option>
          <option value="DE">Tipo 4</option>
        </select>
      </div>
      <div class="relative z-0 w-full mb-2 group">
        <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Detalles</label>
        <textarea id="message" rows="4"
          class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Describe tu servicio..."></textarea>
      </div>
    </div>
  </div>
  <!-- <h4 class="text-2xl font-bold dark:text-white">Configuración del Horario</h4>
  <app-schedule-conf></app-schedule-conf> -->
</form>
