<div class="max-w-sm mx-auto bg-white dark:bg-gray-800 shadow-lg rounded-lg overflow-hidden p-6">
  <form [formGroup]="passwordForm" (ngSubmit)="sendNesPassword()">
    <div class="text-center">
      <h2 class="text-2xl font-bold text-gray-900 dark:text-white mb-4">
        Tu nueva Contraseña
      </h2>
    </div>
    <div class="space-y-4">
      <!-- Campo de Correo Electrónico -->
      <div class="flex flex-col">
        <label for="password" class="text-gray-700 dark:text-gray-300 mb-1">
          Contraseña
        </label>
        <input id="password" type="password" formControlName="password"
          class="border border-gray-300 dark:border-gray-600 rounded-md py-2 px-3 text-gray-900 dark:text-white bg-white dark:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
          placeholder="•••••••••" />
        <div *ngIf="passwordForm.get('password')?.invalid && passwordForm.get('password')?.touched"
          class="text-red-600 text-sm mt-1">
          <span *ngIf="passwordForm.get('password')?.errors?.['required']">La contraseña es obligatoria.</span>
          <span *ngIf="passwordForm.get('password')?.errors?.['minlength']">La contraseña debe tener al menos 6
            caracteres.</span>
        </div>
        <label for="confirm_password" class="mt-4 text-gray-700 dark:text-gray-300 mb-1">
          Confirmar Contraseña
        </label>
        <input id="confirm_password" type="password" formControlName="confirm_password"
          class="border border-gray-300 dark:border-gray-600 rounded-md py-2 px-3 text-gray-900 dark:text-white bg-white dark:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
          placeholder="•••••••••" />
        <div *ngIf="passwordForm.get('confirm_password')?.invalid && passwordForm.get('confirm_password')?.touched"
          class="text-red-600 text-sm mt-1">
          <span *ngIf="passwordForm.get('confirm_password')?.errors?.['required']">La confirmación es
            obligatoria.</span>
          <span *ngIf="passwordForm.get('confirm_password')?.errors?.['minlength']">Debe tener al menos 6
            caracteres.</span>
          <span *ngIf="passwordForm.get('confirm_password')?.errors?.['mismatch']">Las contraseñas no coinciden.</span>
        </div>
      </div>
      <!-- Botón de envio de correo -->
      <div>
        <button type="submit"
          class="text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-bold rounded-lg w-full  px-5 py-2.5 text-center  dark:focus:ring-blue-800"
          [ngClass]="{
                'cursor-not-allowed': !activeSendNewPassword ,
                'hover:bg-blue-800': activeSendNewPassword ,
                'dark:hover:bg-blue-700': activeSendNewPassword,
                'bg-blue-700': activeSendNewPassword,
                'bg-blue-400': !activeSendNewPassword,
                'dark:bg-blue-600': activeSendNewPassword,
                'dark:bg-blue-500': !activeSendNewPassword,
              }" [disabled]="!activeSendNewPassword">
          Cambiar Contraseña
        </button>
      </div>
      <!-- Opción de Registro -->
      <div class="text-center mt-4">
        <span class="text-gray-600 dark:text-gray-400 text-sm">
          ¿No tienes cuenta?
          <a routerLink="/signup"
            class="text-blue-500 hover:text-blue-700 font-medium transition-colors duration-200">Regístrate</a>
        </span>
      </div>
    </div>
  </form>
</div>
