<div class="max-w-sm mx-auto bg-white dark:bg-gray-800 shadow-lg rounded-lg overflow-hidden p-6">
  <form [formGroup]="emailForm" (ngSubmit)="sendEmail()">
    <div class="text-center">
      <h2 class="text-2xl font-bold text-gray-900 dark:text-white mb-4">
        Olvidaste tu Contraseña
      </h2>
    </div>
    <div class="space-y-4">
      <!-- Campo de Correo Electrónico -->
      <div class="flex flex-col">
        <label for="email" class="text-gray-700 dark:text-gray-300 mb-1">Correo Electrónico</label>
        <input id="email" type="email" formControlName="email"
          class="border border-gray-300 dark:border-gray-600 rounded-md py-2 px-3 text-gray-900 dark:text-white bg-white dark:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
          placeholder="Ingrese su correo" />
          <div *ngIf="emailForm.get('email')?.invalid && emailForm.get('email')?.touched" class="text-red-600 text-sm mt-1">
            <span *ngIf="emailForm.get('email')?.errors?.['required']">El correo es obligatorio.</span>
            <span *ngIf="emailForm.get('email')?.errors?.['email']">Formato de correo inválido.</span>
          </div>
      </div>
      <!-- Botón de envio de correo -->
      <div>
        <button type="submit"
          class="text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-bold rounded-lg w-full  px-5 py-2.5 text-center  dark:focus:ring-blue-800"
          [ngClass]="{
                'cursor-not-allowed': !activeSendEmail ,
                'hover:bg-blue-800': activeSendEmail ,
                'dark:hover:bg-blue-700': activeSendEmail,
                'bg-blue-700': activeSendEmail,
                'bg-blue-400': !activeSendEmail,
                'dark:bg-blue-600': activeSendEmail,
                'dark:bg-blue-500': !activeSendEmail,
              }" [disabled]="!activeSendEmail">
          Enviar Correo
        </button>
      </div>
      <!-- Opción de Registro -->
      <div class="text-center mt-4">
        <span class="text-gray-600 dark:text-gray-400 text-sm">
          ¿No tienes cuenta?
          <a routerLink="/signup"
            class="text-blue-500 hover:text-blue-700 font-medium transition-colors duration-200">Regístrate</a>
        </span>
      </div>
    </div>
  </form>
</div>
